p {
  font-size: 12px;
}

.wrapper {
  flex: 1;
}

.container {
  flex: 1;
}

.data_fields {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 0.5px solid lightgray;
  /* border-spacing: 10px; */
}

.left_side_wrapper {
  display: table-cell;
}

.right_side_wrapper {
  border-spacing: 10px;

}

.right_side_wrapper_header {
  display: table-cell;
  border-spacing: 10px;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.left_side_text {
  flex-direction: row;
  display: table-cell;
  min-width: 100px;
  color: #808080;
  padding-left: 50px;
}

.left_side_name_text {
  flex-direction: row;
  display: table-cell;
  min-width: 100px;
}

.right_side_text {
  display: table-cell;
  border-spacing: 10px;
  padding-right: 20px;
  color: #59e483;
}

.left_side_text_header {
  display: table-cell;
  border-spacing: 10px;
}

.right_side_text_header {
  display: table-cell;
}

.divider {
  height: 5;
  width: "100%";
  background-color: black;
}