.wrapper: {
    flex-direction: row;
    flex: 1;
    background-color: blue;
}

.container: {
    flex-direction: row;
    flex: 1;
    background-color: yellow;
}

.data_fields: {
    background-color: green;
}

.left_side_text: {
    flex: 1;
    justify-content: flex-start;
    background: red;
}

.right_side_text: {
    flex: 1;
    justify-content: 'space-evenly';
    background-color: brown;
}

.divider: {
    height: 1;
    width: '100%';
    background-color: black;
}